/*Mobile CSS*/
@media (max-width: 550px){
	.jumbotron h1 {
	  font-size: 2rem;
	  line-height: 0.7;
	}
	.jumbotron .lead {
	  font-size: 1rem;
	  margin-bottom: 0;
	}
}

.jumbotron {
	padding: 2rem 1rem;
}

.clipboard {
	display: block;
	position: relative;
	float: right;
}

.btn-clipboard {
	position: absolute;
	top: .5rem;
	right: 0;
	z-index: 10;
	display: block;
	padding: .25rem .5rem;
	font-size: 75%;
	color: #818a91;
	background-color: transparent;
	border: 0;
	border-radius: .25rem;
}

.btn-clipboard:hover {
	color: #fff;
	background-color: #027de7;
}

.btn-advanced {
	height: 1.5rem;
	font-size: 75%;
	color: #818a91;
	padding: .25rem .5rem;
	background-color: transparent;
	border: 0;
	border-radius: .25rem;
	margin-top: 0.25rem;
}

.btn-advanced:hover {
	color: #fff;
	background-color: #027de7;
}

.collapse-ruler {
	margin-top: -1rem;
}
.collapse-ruler .col {
	padding-right: 0;
}

.code {
	/* height: 100%; */
	overflow-y: scroll;
}

/* .resultpane {
	padding: 10px;
} */

.hidden {
	visibility: hidden;
	height: 0;
}

#output {
	outline: none;
	background-color: white;
	border-top: 2px solid #ced4da;;
	border-bottom: 2px solid #ced4da;;
	border-left: 0;
	border-right: 0;
	border-radius: 0;
	margin-bottom: 0.4rem;
}

.note {
	font-size: small;
}