/*Mobile CSS*/
@media (max-width: 550px){
	.jumbotron h1 {
	  font-size: 2rem;
	  line-height: 0.7;
	}
	.jumbotron .lead {
	  font-size: 1rem;
	  margin-bottom: 0;
	}
}

.jumbotron {
	padding: 2rem 1rem;
}

.clipboard {
	display: block;
	position: relative;
	float: right;
}

.btn-clipboard {
	position: absolute;
	top: .5rem;
	right: .5rem;
	z-index: 10;
	display: block;
	padding: .25rem .5rem;
	font-size: 75%;
	color: #818a91;
	cursor: pointer;
	background-color: transparent;
	border: 0;
	border-radius: .25rem;
}

.btn-clipboard:hover {
	color: #fff;
	background-color: #027de7;
}

.code {
	/* height: 100%; */
	overflow-y: scroll;
}

.resultpane {
	padding: 10px;
}

.hidden {
	visibility: hidden;
	height: 0;
}